{{define "base"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="XKSJ">
    <meta name="author" content="ColdChicken[646543317@qq.com]">

    <title>{{.XKSJTitle}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/www.css?v=1" rel="stylesheet">

  </head>

  <body>

    <div class="row" style="margin-left: 0; margin-right: 0;">
        <div class="col-xs-1 col-sm-2 col-md-2 col-lg-3 col-xl-3"></div>

        <div class="col-xs-10 col-sm-8 col-md-8 col-lg-6 col-xl-6">
            <div class="page">
                <div class="header">
                    <span class="title">星空水景</span>
                    <div class="nav row">
                        {{ if (eq .PageViewed "水景资讯") }}
                        <a href="/zx" class="nav-item nav-active col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">水景资讯</a>
                        {{ else }}
                        <a href="/zx" class="nav-item col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">水景资讯</a>
                        {{ end }}

                        {{ if (eq .PageViewed "水景欣赏") }}
                        <a href="/sj" class="nav-item nav-active col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">水景欣赏</a>
                        {{ else }}
                        <a href="/sj" class="nav-item col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">水景欣赏</a>
                        {{ end }}

                        {{ if (eq .PageViewed "水景文章") }}
                        <a href="/wz" class="nav-item nav-active col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">水景文章</a>
                        {{ else }}
                        <a href="/wz" class="nav-item col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">水景文章</a>
                        {{ end }}
                        
                        {{ if (eq .PageViewed "其它文章") }}
                        <a href="/qt" class="nav-item nav-active col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">其它文章</a>
                        {{ else }}
                        <a href="/qt" class="nav-item col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">其它文章</a>
                        {{ end }}
                    </div>
                </div>

                <div class="content">

                    {{ if or (eq .PageViewed "水景资讯") (eq .PageViewed "水景欣赏") (eq .PageViewed "水景文章") (eq .PageViewed "其它文章")  }}
                    {{ template "articles" . }}
                    {{ end }}

                    {{ if (eq .PageViewed "文章内容") }}
                    {{ template "article" . }}
                    {{ end }}

                </div>

                <div class="footer">
                    
                </div>
            </div>
        </div>

        <div class="col-xs-1 col-sm-2 col-md-2 col-lg-3 col-xl-3"></div>
    </div>
    <div class="height50"></div>
    <script>

    </script>
  </body>
</html>

{{end}}